@page
@model RazorPagesRecap.Pages.SignUpModel
@{
}

<h1>Sign up to our great site about colors and dogs!</h1>

<form method="post">
    <input type="text" placeholder="Username" asp-for="Username"/>
    <input type="password" placeholder="Password" asp-for="Password"/>
    <button type="submit"/>
</form>